@charset "UTF-8";
/* Links */
/* Fonts */
@font-face {
  font-family: "KeepCalm";
  src: url("KeepCalm-Medium.ttf");
}
/* Colors */
/* end Colors */
/* Sizes */
/* end Sizes */
html, body {
  margin: 0;
  padding-top: 10px;
  padding: 0;
  background-color: #e9ebee;
  color: #1d2129;
  font-family: Arial;
}

h1 {
  font-family: sans;
  font-size: 18px;
  color: #1d2129;
}

p {
  font-family: Arial;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}

.underheader-padding-top {
  padding-top: 50px;
}

.content-wrapper {
  width: 1126px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

/* Header */
header {
  color: #fff;
  min-width: 100%;
  position: fixed;
  padding: 4px 0;
  background-color: #448DC8;
  border-bottom: solid 1px #326C9B;
  z-index: 10000;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.15);
}
header .search-box {
  width: 200px;
  box-shadow: none;
}
header .content-wrapper {
  align-items: center;
}
header .logo {
  background-image: url(img/Z11.3.W.tr.min.png);
}

#header-flex-left, #header-flex-right {
  flex-grow: 1;
  width: 210px;
  margin: 0 6px;
  align-items: center;
}

#header-flex-center {
  flex-grow: 2;
  justify-content: center;
  width: 0px;
}

#header-flex-right {
  justify-content: flex-end;
}

.in-header-box {
  margin: 0 10px;
}

.logo {
  height: 28px;
  width: 40px;
  background-size: cover;
  background-position: center;
}

#header-info-box {
  border: none;
  margin: 0 20px;
  display: flex;
}

.in-header-info-box {
  margin: 0 10px;
}

.header-info {
  padding: 5px 0;
  width: 140px;
  text-align: center;
  font-family: sans;
  background-color: #326C9B;
  border-radius: 5px;
  color: #e9ebee;
}

.weather-icon {
  width: 35px;
  height: 28px;
  text-align: center;
  margin: 0 10px;
  font-size: 28px;
}

/* .weather-icon .shadow {
    position: relative;
    top: -36px;
    color: $border-color;
    z-index: -10;
} */
#header-login-box .more {
  margin: 0 20px;
}
#header-login-box a {
  font-weight: 600;
}
#header-login-box span {
  color: #CCE1F2;
}

/* end Header */
/* Content */
/* Main */
.bar {
  background-color: #CCE1F2;
  border: solid 1px #cecece;
}

#center-right-bar {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

#center-bar {
  width: 590px;
  margin: 0 15px;
  background-color: #fff0;
  border: solid 1px #fff0;
}

.side-bar {
  width: 253px;
  color: #494a4b;
}

#left-bar {
  position: absolute;
  background-color: #fff0;
  border: solid 1px #fff0;
}

#right-bar {
  position: absolute;
  background-color: #fff0;
  border: solid 1px #fff0;
}

@media (max-width: 1126px) {
  #left-bar, #right-bar {
    position: absolute !important;
    top: auto !important;
  }
}
.zone {
  margin: 5px;
  border: solid 1px #cecece;
  border-radius: 0;
}

.zone {
  background-color: #e9ebee;
  /*temporary*/
  border: solid 1px #e9ebee;
}

.box {
  margin: 10px;
  border-radius: 0;
}

.text-box {
  text-align: center;
  padding: 2px 16px;
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.15);
}

.btn-big {
  text-align: center;
  font-family: KeepCalm;
  font-size: 18px;
  color: #e9ebee;
  text-transform: uppercase;
  line-height: 1.5;
  background-color: #326C9B;
  margin: 3px 0;
  display: inline-block;
  width: 100%;
  height: 24px;
  padding: 5px 0;
  border: solid 1px #cecece;
  border-radius: 2px;
}
.btn-big:hover, .btn-big:hover svg {
  background-color: #448DC8;
  color: #fff;
}
.btn-big i, .btn-big svg {
  color: #e9ebee;
  fill: #e9ebee;
}
.btn-big i:hover, .btn-big svg:hover {
  color: #fff;
  fill: #fff;
}

/* end Main */
/* Left Bar */
/* overview-zone */
.overview-zone {
  height: auto;
}

.main-ava {
  width: 120px;
  height: 120px;
  border: solid 2px #fff;
  border-radius: 50%;
  background-color: #e9ebee;
  margin: 3px auto;
  position: relative;
  z-index: 1000;
  box-shadow: inset 0 1px 1.5px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.15);
  background-image: url(img/joe.jpeg);
  background-position: center;
  background-size: cover;
}
.secondary-ava {
  width: 80px;
  height: 80px;
  border: solid 2px #fff;
  border-radius: 50%;
  background-color: #e9ebee;
  position: absolute;
  z-index: 100;
  box-shadow: inset 0 1px 1.5px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.15);
}
.secondary-ava:hover {
  width: 85px;
  height: 85px;
  cursor: pointer;
}

.right-ava {
  right: 20px;
  background-image: url(img/satya.jpeg);
  background-position: center;
  background-size: cover;
}
.right-ava:hover {
  right: 10px;
}

.left-ava {
  left: 20px;
  background-image: url(img/bill.jpeg);
  background-position: center;
  background-size: cover;
}
.left-ava:hover {
  left: 10px;
}

/* .socials-box { 
 	text-align: center;

 	i, svg {
 		margin: 3px 10px;
 		color: $bg-base;
 		fill: $bg-base;
 	}
 	i:hover, svg:hover {
 		margin: 3px 10px;
 		color: $bg-white;
 		fill: $bg-white;
	}
} */
.socials-box {
  display: flex;
  justify-content: center;
  /* a {
  	background-color: $bg-base;
  	margin: 3px 12px;
  	display: block;
  	width: 24px;
  	height: 24px;
  	padding: 2px;
  	border: $border;
  	border-radius: $br-3;
  	//box-shadow: $shadow-inset;

  	&:hover {
  		background-color: $bg-white;
  	}
  	&:hover > .fa-facebook-f {
  		color: $fb-color;
  	}
  	&:hover > .fa-linkedin-in {
  		color: $in-color;
  	}
  	&:hover > .fa-twitter {
  		color: $tw-color;
  	}
  }
  i, svg {
  	margin: 2px;
  	color: $bg-accent;
  	fill: #fff;
  }

  .facebook-a {
  	padding: 2px 0px 2px 4px;
  }
  .fa-facebook-f {
  	margin: 5px -3px 0 0;
  } */
}
.socials-box i, .socials-box svg {
  margin: 3px 12px;
  color: #326C9B;
  fill: #fff;
}
.socials-box i.fa-facebook-square:hover, .socials-box svg.fa-facebook-square:hover {
  color: #415598;
}
.socials-box i.fa-linkedin:hover, .socials-box svg.fa-linkedin:hover {
  color: #0077B5;
}
.socials-box i.fa-twitter-square:hover, .socials-box svg.fa-twitter-square:hover {
  color: #039AF1;
}
.socials-box i.fa-youtube-square:hover, .socials-box svg.fa-youtube-square:hover {
  color: #ff0000;
}

#overview-box {
  background-color: #CCE1F2;
}

/** end overview-zone */
/** Z11 Channel Zone */
/* .channel-zone {
} */
/* #z11-btn-box {
	/* i, svg {
		//margin-left: -5px; 
		color: $bg-white;
		fill: $bg-white;
	} 
} */
#z11-btn {
  /*&:hover {
  	color: #000; //#9CC3C7;
  }
  /*&:hover > svg {
  	color: #FF0016;
  }*/
}

#video-links-box a {
  font-style: italic;
}
#video-links-box li {
  list-style-type: none;
}
#video-links-box ul {
  margin-left: 0;
  padding-left: 0;
  font-size: 14px;
  font-family: Arial;
}
#video-links-box hr {
  width: 80%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cecece;
  margin: 1em auto;
  padding: 0;
}

/** end Z11 Channel Zone */
/** Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer .logo {
  margin: 0 12px;
  background-image: url(img/Z11.3.1.tr.cr.min.png);
}
footer .socials-box {
  align-items: center;
  justify-content: space-around;
}

/** end Footer */
/* end Left Bar */
/* Center Bar */
/** search box*/
.search-box {
  height: 28px;
  border-radius: 0;
  background-color: #fff;
  border: solid 1px #cecece;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.15);
}
.search-box input {
  width: calc(100% - 40px);
  border: solid 4px #fff;
  margin: 1px;
  border-radius: 0 0 0 0;
  height: 17px;
}
.search-box i, .search-box svg {
  color: #326C9B;
  fill: #326C9B;
}

/** end search box*/
/** tags box */
.tags-box {
  text-align: center;
}
.tags-box ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial;
}
.tags-box li {
  margin-right: 7px;
  list-style-type: none;
  display: inline-block;
}
.tags-box li:last-child {
  margin-right: 0px;
}
.tags-box .clicked {
  font-weight: 600;
}

/** end tags box */
/** post box */
.post-box {
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.15);
}

.post-header {
  padding: 12px 12px 0;
  display: flex;
  position: relative;
}

.post-header-img {
  height: 40px;
  width: 40px;
  background-image: url(img/joe.jpeg);
  /*temporary*/
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.post-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 8px;
}
.post-header-text h1 {
  margin: 0 0 4px 0px;
  font-size: 14px;
}
.post-header-text h1::after {
  font-family: "Font Awesome 5 Brands";
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 5px;
  text-decoration: none;
}
.linkedin .post-header-text h1::after {
  content: "";
  color: #0077B5;
}
.facebook .post-header-text h1::after {
  content: "";
  color: #415598;
}
.twitter .post-header-text h1::after {
  content: "";
  color: #039AF1;
}
.post-header-text p {
  margin: 0;
  color: #494a4b;
  max-width: 80%;
}

.post-header-date {
  position: absolute;
  right: 14px;
  align-self: center;
  color: #494a4b;
}

.post-content-text {
  padding: 12px 16px;
  font-size: 14px;
  position: relative;
  line-height: 20px;
}
.post-content-text button {
  position: absolute;
  right: 16px;
  bottom: 12px;
  background: 0 0;
  background-color: #fff;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: #494a4b;
}
.post-content-text button:hover {
  color: #326C9B;
  text-decoration: underline;
}

.post-content-img {
  height: 220px;
  background-image: url(img/post-img.jpeg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1d2129;
}

.post-footer {
  padding: 8px 20px;
  font-size: 14px;
}
.post-footer i, .post-footer svg {
  margin-left: 10px;
}
.post-footer span {
  margin-right: 10px;
}

/** end post box*/
/*end Center Bar */
/* Right Bar*/
/** Bot */
#bot-box {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/** end Bot*/
/** Events */
#events-box {
  background-color: #CCE1F2;
}
#events-box a {
  font-style: italic;
}
#events-box li {
  list-style-type: none;
}
#events-box ul {
  margin-left: 0;
  padding-left: 0;
  font-size: 14px;
  font-family: Arial;
}
#events-box hr {
  width: 80%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cecece;
  margin: 1em auto;
  padding: 0;
}

/**end Events*/
/** Privacy */
#privacy-zone {
  color: #494a4b;
  font-size: 12px;
  /* .privacy {
    		text-align: center;
  } */
}
#privacy-zone ul {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-around;
}
#privacy-zone li {
  list-style-type: none;
  display: inline-block;
  padding-right: 5px;
  /* &:first-child {
  	padding-left: 0;
  } */
}
#privacy-zone hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cecece;
  margin: 1em auto;
  padding: 0;
}

#copyright {
  font-size: 11px;
}

/**end Privacy */
/* end Right Bar*/
/* end Content */

/*# sourceMappingURL=style.css.map */
