					
					/* Links */
$main-ava-link: url(img/joe.jpeg);
$right-ava-link: url(img/satya.jpeg);
$left-ava-link: url(img/bill.jpeg);
$post-img-link: url(img/post-img.jpeg);
$logo-main: url(img/Z11.3.1.tr.cr.min.png);
$logo-white: url(img/Z11.3.W.tr.min.png);

				
					/* Fonts */
@font-face {
  font-family: "KeepCalm";
  src: url('KeepCalm-Medium.ttf');
}

$font-title: sans;
$font-text: Arial;

					/* Colors */
$bg-gray: #e9ebee;
$bg-transparent: #fff0;
//$bg-gray-2: #F3F3F3;
$bg-base: #CCE1F2; //#E1EFFB; //#CCE1F2
$bg-main: #448DC8; //#83B5DD; //#9DCCF3;
$bg-accent: #326C9B; //#448DC8; //#5CAAEA; //#3D818C
$bg-white: #fff;

$border-color: #cecece;
$text-color: #1d2129;
$sub-text-color: #494a4b;

$fb-color: #415598;
$in-color: #0077B5;
$tw-color: #039AF1;
$yt-color: #ff0000;

$shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.15);// 0 1.5px 3px 0 rgba(0, 0, 0, 0.15);
$shadow-inset: inset 0 1px 1.5px 0 rgba(0,0,0,.15), 0 1px 1.5px 0 rgba(0,0,0,.15);
					/* end Colors */

					/* Sizes */
$content-wrapper-width: 1126px;
$side-bar-width: 253px;
$center-bar-width: 590px;

$br-circle: 50%;
$br-10: 10px;
$br-5: 5px;
$br-3: 2px;
$br-0: 0;

$border: solid 1px $border-color;

$h1-font-size: 18px;
$btn-big-font-size: 18px;
					/* end Sizes */



html, body {
	margin: 0;
	padding-top:10px;
	padding: 0;
	background-color: $bg-gray;
    color: #1d2129;
	font-family: Arial;
}
h1 {
	font-family: $font-title;
    font-size: 18px;
    color: $text-color;
}
p {
	font-family: $font-text;
    font-size: 13px;
}
a {
	text-decoration: none;
	color: inherit;
}
input {
	outline: none;
}
.underheader-padding-top {
    padding-top: 50px;
}
.content-wrapper {
	width: $content-wrapper-width;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.flex {
	display: flex;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}

					/* Header */
header {
	color: #fff;
	min-width: 100%;
    position: fixed;
	padding: 4px 0;
	background-color: $bg-main;
	border-bottom: solid 1px $bg-accent;
	z-index: 10000;
	box-shadow: $shadow;

	.search-box {
		width: 200px;
		box-shadow: none;
	}
	.content-wrapper {
		align-items: center;
	}
	.logo {
		background-image: $logo-white;
	}
}
#header-flex-left, #header-flex-right {
	flex-grow: 1;
	width: 210px;
	margin: 0 6px;
	align-items: center;
}
#header-flex-center {
	flex-grow: 2;
	justify-content: center;
	width: 0px;
}
#header-flex-right {
	justify-content: flex-end;
}
.in-header-box {
	margin: 0 10px;
	//float: left;
	//border: solid 1px $border-color;

}
.logo {
	height: 28px;
	width: 40px;
	background-size: cover;
	background-position: center;
	//border-radius: $br-3;
}
#header-info-box {
	border: none;
	margin: 0 20px;
	display: flex;
}
.in-header-info-box {
	//float: left;
	margin: 0 10px;
}
.header-info {
	padding: 5px 0;
	width: 140px;
	text-align: center;
	font-family: $font-title;
	background-color: $bg-accent;
	border-radius: $br-5;
	color: $bg-gray;
}
.weather-icon {
	width: 35px;
	height: 28px;
	text-align: center;
	margin: 0 10px;
	font-size: 28px;
}
#header-login-box {
	.more {
		margin: 0 20px;
	}
	a {
		font-weight: 600;
	}
	span {
		color: $bg-base;
	}
}

					/* end Header */

					/* Content */
		/* Main */
.bar {
	background-color: $bg-base;//temporary
	border: solid 1px $border-color;//temporary
}
#center-right-bar {
	position: relative;
    display: flex;
    flex-direction: row-reverse;
}
#center-bar {
	width: $center-bar-width;
	margin: 0 15px;
	background-color: $bg-transparent;//temporary
	border: solid 1px $bg-transparent;//temporary
}
.side-bar { 
	width: $side-bar-width;
	color: $sub-text-color;
}
#left-bar {
	position: absolute;//fixed;
	background-color: $bg-transparent;//temporary
	border: solid 1px $bg-transparent;//temporary
}
#right-bar {
	position: absolute;//fixed;
	background-color: $bg-transparent;//temporary
	border: solid 1px $bg-transparent;//temporary
}
@media (max-width: $content-wrapper-width) {
	#left-bar ,#right-bar {
		position: absolute!important;
		top: auto!important;
	}
}
.zone {
	margin: 5px;
	border: solid 1px $border-color;//temporary
	border-radius: $br-0;
}
.zone {
	background-color: $bg-gray;/*temporary*/
	border: solid 1px $bg-gray;//temporary
}
.box {
	margin: 10px;
	border-radius: $br-0;
}
.text-box {
	text-align: center;
	padding: 2px 16px;
	background-color: $bg-white;
	border-radius: $br-0;
	box-shadow: $shadow;
}
.btn-big {	
	text-align: center;
	font-family: KeepCalm;
	font-size: $btn-big-font-size;
	color: $bg-gray;
	text-transform: uppercase;
	line-height: 1.5;

	//display: block;
	background-color: $bg-accent;
	margin: 3px 0;
	display: inline-block;
	width: 100%;
	height: 24px;
	padding: 5px 0;
	border: $border;
	border-radius: $br-3;

	//box-shadow: $shadow-inset;

	&:hover, &:hover svg {
		background-color: $bg-main;
		color: $bg-white;
	}

	i, svg {
		//margin-left: -5px; 
		color: $bg-gray;
		fill: $bg-gray;

		&:hover {
			color: $bg-white;
			fill: $bg-white;
		}
	}
}
		/* end Main */

		/* Left Bar */

/* overview-zone */
.overview-zone {
	height: auto;
}
// avatar-box
.avatar-box {
}
.main-ava {
	width: 120px;
	height: 120px;
	border: solid 2px #fff ;
	border-radius: $br-circle;
	background-color: $bg-gray;
	margin: 3px auto;
	position: relative;
	z-index: 1000;

	box-shadow: $shadow-inset;

	background-image: $main-ava-link;
	background-position: center;
	background-size: cover;

	&:hover {
		
	}
}
.secondary-ava {
	width: 80px;
	height: 80px;
	border: solid 2px #fff;
	border-radius: $br-circle;
	background-color: $bg-gray;
	position: absolute;
	z-index: 100;

	box-shadow: $shadow-inset;

	&:hover {
		width: 85px;
		height: 85px;
		cursor: pointer;
	}
}
.right-ava {
	right: 20px;

	background-image: $right-ava-link;
	background-position: center;
	background-size: cover;

	&:hover {
		right: 10px;
	}
}
.left-ava {
	left: 20px;

	background-image: $left-ava-link;
	background-position: center;
	background-size: cover;

	&:hover {
		left: 10px;
	}
}
// end avatar-box

// socials-box

//alternative social box styles
/* .socials-box { 
 	text-align: center;

 	i, svg {
 		margin: 3px 10px;
 		color: $bg-base;
 		fill: $bg-base;
 	}
 	i:hover, svg:hover {
 		margin: 3px 10px;
 		color: $bg-white;
 		fill: $bg-white;
	}
} */
.socials-box {
	display: flex;
	justify-content: center;

	//text-align: center;
	
	
	i, svg {
		margin: 3px 12px;
		color: $bg-accent;
		fill: #fff;

		&.fa-facebook-square:hover {
			color: $fb-color;
		}
		&.fa-linkedin:hover {
			color: $in-color;
		}
		&.fa-twitter-square:hover {
			color: $tw-color;
		}
		&.fa-youtube-square:hover {
			color: $yt-color;
		}
	}

	// alternative
	/* a {
		background-color: $bg-base;
		margin: 3px 12px;
		display: block;
		width: 24px;
		height: 24px;
		padding: 2px;
		border: $border;
		border-radius: $br-3;
		//box-shadow: $shadow-inset;

		&:hover {
			background-color: $bg-white;
		}
		&:hover > .fa-facebook-f {
			color: $fb-color;
		}
		&:hover > .fa-linkedin-in {
			color: $in-color;
		}
		&:hover > .fa-twitter {
			color: $tw-color;
		}
	}
	i, svg {
		margin: 2px;
		color: $bg-accent;
		fill: #fff;
	}

	.facebook-a {
		padding: 2px 0px 2px 4px;
	}
	.fa-facebook-f {
		margin: 5px -3px 0 0;
	} */
	// end alternative

}
// end socials-box

// overview-box
#overview-box {
	background-color: $bg-base;
}
// end overview-box

/** end overview-zone */

/** Z11 Channel Zone */
/* .channel-zone {
} */
/* #z11-btn-box {
	/* i, svg {
		//margin-left: -5px; 
		color: $bg-white;
		fill: $bg-white;
	} 
} */
#z11-btn {	
	//font-family: KeepCalm;
	//font-size: 18px;
		
	/*&:hover {
		color: #000; //#9CC3C7;
	}
	/*&:hover > svg {
		color: #FF0016;
	}*/
} 
#video-links-box {
	a {
		font-style: italic;
	}
	li {
    	list-style-type: none;
   	}
   	ul {
    	margin-left: 0; 
	    padding-left: 0;
	    font-size: 14px;
	    font-family: $font-text;
   	}
   	hr {
   		width: 80%;
	    display: block;
	    height: 1px;
	    border: 0;
	    border-top: 1px solid $border-color;
	    margin: 1em auto;
	    padding: 0; 
	}
}
/** end Z11 Channel Zone */

/** Footer */
footer {
    //padding: 5px 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

	.logo {
		//border: $border;
		margin: 0 12px;
		background-image: $logo-main;
	}
	.socials-box {
		//margin-right: 0;
		align-items: center;
	    justify-content: space-around;
	}
}
/** end Footer */

		/* end Left Bar */


		/* Center Bar */

/** search box*/
.search-box {
	height: 28px;
	border-radius: $br-0;
	background-color: $bg-white;
	border: $border;
	box-shadow: $shadow;

	input {
		width: calc(100% - 40px);
		border: solid 4px $bg-white;
		margin: 1px;
		border-radius: $br-0 0 0 $br-0;
		height: 17px;
	}
	i, svg {
		color: $bg-accent;
		fill: $bg-accent;
	}
}
/** end search box*/

/** tags box */
.tags-box {
	text-align: center;

	ul {
    	margin: 0; 
	    padding: 0;
	    font-size: 14px;
	    font-family: $font-text;
   	}
	li {
		margin-right: 7px;
    	list-style-type: none;
    	display: inline-block;

    	&:last-child {
    		margin-right: 0px;
    	}
   	}
   	.clicked {
   		font-weight: 600;
   	}
}
/** end tags box */

/** post box */
.post-box {
	background-color: $bg-white;
	//margin: 5px;
	border-radius: $br-0;
	//border: $border;
	box-shadow: $shadow;
}
// post-header
.post-header {
    padding: 12px 12px 0;
    display: flex;
    position: relative;
}
.post-header-img {
	height: 40px;
	width: 40px;
	background-image: $main-ava-link;/*temporary*/
	background-size: cover;
	background-position: center;

	//border: $border;
	border-radius: $br-circle;
}
.post-header-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 8px;

	h1 {
	    margin: 0 0 4px 0px;
	    font-size: 14px;

	    &::after {
		    font-family: "Font Awesome 5 Brands";
		    font-weight: normal;
		    font-style: normal;
			margin: 0px 0px 0px 5px;
			text-decoration: none;

			.linkedin & {
			    content: '\f08c';
				color: $in-color;
			}
			.facebook & {
				content: '\f09a';
			    color: $fb-color;
			}
			.twitter & {
			    content: '\f081';
			    color: $tw-color;
			}
		}
	}
	p {
		margin: 0;
		color: $sub-text-color;
		max-width: 80%;
	}
}
.post-header-date {
	position: absolute;
	right: 14px;
	align-self: center;
	color: $sub-text-color;

}
// end post-header
// post content
.post-content {}
.post-content-text {
	padding: 12px 16px;
	font-size: 14px;
	position: relative;
	line-height: 20px;

	button {
		position: absolute;
		right: 16px;
		bottom: 12px;
	    background: 0 0;
	    background-color: #fff;
	    border: none;
	    padding: 0;
	    cursor: pointer;
	    font: inherit;
	    color: $sub-text-color;

		&:hover {
			color: $bg-accent;
			text-decoration: underline;
		}
	}
}
.post-content-img {
	height: 220px;
	background-image: $post-img-link;//tempotary
	background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $text-color;
}
// end post content
.post-footer {
	padding: 8px 20px;
	font-size: 14px;

	i, svg {
		margin-left: 10px;
	}
	span {
		margin-right: 10px;
	}
}

/** end post box*/

		/*end Center Bar */

		/* Right Bar*/
/** Bot */
#bot-box {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/** end Bot*/ 

/** Events */
#events-box {
	background-color: $bg-base;

	a {
		font-style: italic;
	}
	li {
    	list-style-type: none;
   	}
   	ul {
    	margin-left: 0; 
	    padding-left: 0;
	    font-size: 14px;
	    font-family: $font-text;
   	}
   	hr {
   		width: 80%;
	    display: block;
	    height: 1px;
	    border: 0;
	    border-top: 1px solid $border-color;
	    margin: 1em auto;
	    padding: 0; 
	}
}
/**end Events*/

/** Privacy */
#privacy-zone {
	color: $sub-text-color;
	font-size: 12px;

	ul {
    	margin-left: 0; 
	    padding-left: 0;
	    display: flex;
		justify-content: space-around;
	}
	li {
    	list-style-type: none;
    	display: inline-block;
    	padding-right: 5px;

    	/* &:first-child {
    		padding-left: 0;
    	} */
   	}
	/* .privacy {
   		text-align: center;
	} */
	hr {
	    display: block;
	    height: 1px;
	    border: 0;
	    border-top: 1px solid $border-color;
	    margin: 1em auto;
	    padding: 0; 
	}
}
#copyright {
	font-size: 11px;
}
/**end Privacy */
		/* end Right Bar*/

							/* end Content */
